<!DOCTYPE html>
<html>
  <head>
    <title>Sample App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sequelize Express</h1>
    <p>Welcome!!</p>

    <% if(users) { %>
		<table>
    		<tr>
	    		<th>Name</th>
    			<th>Age</th>
    		</tr>
		<% users.forEach(function(value, key) { %>
	    		<tr>
	    			<td><%= value.name %></td>
	    			<td><%= value.age %></td>
	    			<td><a href="/users/<%= value.id %>">Show</a></td>
	    			<td><a href="/users/<%= value.id %>/edit">Edit</a></td>
	    			<td><a href="/users/<%= value.id %>">Delete</a></td>
	    		</tr>
    	<% }); %>
    	</table>
    <% } %>
    <a href="/users/new">create new user</a>
  </body>
</html>
