<!DOCTYPE html>
<html>
  <head>
    <title>Sample App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sequelize Express</h1>
    <p>this is Show page!!</p>
    <p>Name: <%= user.name %></p>
    <p>Age: <%= user.age %></p>
    <a href="/users">Back</a>
    <a href="/users/<%= user.id %>/edit">Edit</a>
    <form name="delete<%= user.id %>" action="/users/<%= user.id %>?_method=delete" method="post">
      <input type="hidden" name="userId" value="<%= user.id %>">
      <a href="#" onclick="document.delete<%= user.id %>.submit()">Delete</a>
    </form>
  </body>
</html>
